:root{
    --main-color: hsl(216, 12%, 8%);
    --secondary-color: hsl(213, 19%, 18%);
    --grey: hsl(216, 8%, 38%);
    --light-grey: hsl(217, 12%, 63%);
    --white: hsl(0, 0% ,100%);
    --Orange: hsl(25, 97%, 53%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-color);
    font-family: 'overpass', sans-serif;
}
header{
    width: 60%;
    height: auto;
    transform: translateY(40%);
    background-color: var(--secondary-color);
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    /* display: none; */
}
@media(max-width: 506px){
    header{
        width: 70%;
    }
}
header .star{
    padding: 10px;
    background-color: var(--grey);
    border-radius: 50%;
}
.content h2{
    margin: 20px 0 20px 0;
    color: var(--white);
    font-weight: bold;
}
.content .text{
    color: var(--light-grey);
    margin-bottom: 10px;
    line-height: 1.4;
    margin: 10px 0 25px 0;
}
.content .numbers ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
.content ul li{
    padding: 15px 21px;
    border-radius: 50%;
    background-color: var(--grey);
    color: var(--light-grey);
    cursor: pointer;
    transition: 0.3s;
}
.content ul li:hover{
    color: var(--white);
    background-color: var(--Orange);
}
.content ul .number:focus{
    background-color: var(--white);
    z-index: 1;
}
.content button{
    background-color: var(--Orange);
    padding: 13px 20px;
    width: 100%;
    color: var(--white);
    cursor: pointer;
    margin-top: 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: bold;
    transition: 0.3s;
}
.content button:hover{
    background-color: var(--white);
    color: var(--Orange);
}
@media(min-width: 600px){
    header{
        width: 400px;
    }
}
.container{
    transform: translateY(30%);
        width: 70%;
        height: auto;
        background-color: var(--secondary-color);
        padding: 20px;
        margin: auto;
        border-radius: 15px;
        text-align: center;
    }
    .container img{
        margin-bottom: 20px;
    }
.container .select{
    margin: auto;
    border-radius: 50px;
    padding: 7px 10px;
    width: fit-content;
    color: var(--Orange);
    background-color: var(--grey);

}
.hidden{
    display: none;
}
@media(min-width: 727px){
    .container{
        width: 400px;
    }
}
.attribution {
    font-size: 11px; 
    text-align: center; 
    color: #eee;
    transform: translateY(1400%);
}
.attribution a {
    color: hsl(0, 0%, 100%); 
}